<form [formGroup]="projectForm">
    <div class="row">
        <div class="col-sm-3 text-right">
            <label for="project"> Project Name : </label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="project" name="project" formControlName="project"
                [ngClass]="{ 'is-invalid': isSubmitted && f.project.errors }">
            <div *ngIf="isSubmitted && f.project.errors" class="invalid-feedback">
                <div *ngIf="f.project.errors.required">*Project required</div>
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success" (click)="save()">Save</button>
        </div>
    </div>
</form>

<div class="row text-center">
    <div class="col text-center">
        <div style="color: red">{{errormsg}}</div>
        <div style="color: green">{{successmsg}}</div>
    </div>
</div>

<div class="row">

    <table class="table table-bordered table-striped m-5">
        <thead>
            <tr class="text-center">
                <th>Sr No.</th>
                <th>Project Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projects; let i = index" class="text-center">
                <td>{{i+1}}</td>
                <td>{{p.name}}</td>
                <td>
                    <button class="btn btn-info" style="margin-right: 10px;" (click)="edit(p)">
                        <i class="fas fa-pen-alt"></i>
                    </button>
                    <button class="btn btn-danger" (click)="delete(p)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-slack-loader *ngIf="isLoading"></app-slack-loader>