<div class="page-container">
  <header>
    <div class="d-flex logo-title center">
      <img style="height: 54px;width:90px;" src="assets/images/image.png"> 
      <span class="logo-img img-rounded img-responsive"></span>
      <div class="logo-font"><b>A</b>sset <b>M</b>anagement <b>S</b>ystem</div>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
<footer class="text-center">
  <span class="text-muted"><span data-toggle="tooltip"
      title="https://www.cdac.in/">&copy;2019 CDAC Knowledge Park,
      Bangalore</span></span>
</footer>